body {
  margin: 0;
}

img {
  width: 100%;
}

#screen {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 100%;
  width: 100%;
  outline: solid black;
  aspect-ratio: 16/9;
}

#game {
  grid-area: 1 / 1;
  background-color: blue;

  overflow: hidden;

  display: grid;
  grid-template-columns: 10% / 10%;
  grid-template-rows: 100%;
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(billeder/soccer-players-action-professional-stadium.jpg);
  background-size: cover;
}

#game_elements {
  grid-area: 1 / 1;
  position: relative;
  overflow: hidden;
}

#game_foreground {
  width: 100%;
  height: 100%;
  position: relative;
  top: 0%;
  left: 0%;
}

/* spil elementer */

#joachim_container {
  width: 12%;
  position: absolute;
  top: 70%;
  left: 45%;
  z-index: 2;
}

#joachim_sprite {
  width: 100%;
  height: 100%;
}

#bold_container {
  width: 6%;
  position: absolute;
  top: 70%;
  left: 30%;
  z-index: 2;
}

#bold2_sprite {
  width: 100%;
  height: 100%;
}

#bold2_container {
  width: 6%;
  position: absolute;
  top: 50%;
  left: 72%;
  z-index: 2;
}

#bold3_sprite {
  width: 100%;
  height: 100%;
}

#bold3_container {
  width: 6%;
  position: absolute;
  top: 80%;
  left: 45%;
  z-index: 2;
}

#bold_sprite {
  width: 100%;
  height: 100%;
}

#guld-bold_container {
  width: 11%;
  position: absolute;
  top: 47%;
  left: 23%;
  z-index: 2;
}
#guld-bold_sprite {
  width: 100%;
  height: 100%;
}



/* Ikke brugbare elementer */
#darwin_container {
  width: 23%;
  position: absolute;
  top: 71.5%;
  right: -3%;
  z-index: 1;
}

#darwin_sprite {
  width: 100%;
  height: 100%;
}

#darwin_container2 {
  width: 23%;
  position: absolute;
  top: 71.5%;
  z-index: 1;
  transform: rotateY(180deg);
  left: -3%;
}

#darwin_sprite2 {
  width: 100%;
  height: 100%;
}

#net_container {
  width: 87%;
  position: absolute;
  top: 15%;
  left: 6.5%;
}

#net_sprite {
  width: 100%;
  height: 100%;
}




/* UI */
#game_ui {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 80px 80px;
  gap: 10px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
}

#life_board,
#score_board,
#time_board {
  font-size: 18px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pixel Takhisis";
}

#score_board > img{
    width: 20%;
    right: auto;
}

#time_board > img {
  width: 20%;
  right: auto;
}

#life_board > img {
  width: 10%;
  right: auto;
}

