body {
    margin: 0;

    /* Ved ikke om det kan være med */
}

img{
    width: 100%;
}

#screen {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    width: 100%;
    aspect-ratio: 16/9;
}

#game {
    grid-area: 1 / 1;
    background-color: blue;

    overflow: hidden;

    display: grid;
    grid-template-columns: 10% / 10%;
    grid-template-rows: 100%;
}


#game_background {
    grid-area: 1 / 1;
    background-image: url(billeder/soccer-players-action-professional-stadium.jpg);
    background-size: cover;
}

#game_elements {
grid-area: 1 / 1;
position: relative;
overflow: hidden;
}

#game_foreground {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

#game_ui {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0%;
    left: 0%;
}

/* spil elementer */

#joachim_container {
    width: 10%;
    position: absolute;
    top: 30%;
    left: 45%;
}

#joachim_sprite {
    width: 100%;
    height: 100%;
}


#bold_container {
    width: 8%;
    position: absolute;
    top: 30%;
    left: 40%;
}

#bold_sprite {
    width: 100%;
    height: 100%;
}

#darwin_container{
    width: 23%;
    position: absolute;
    top: 71.5%;
    right: 1%;
}

#darwin_sprite{
    width: 100%;
    height: 100%;
}
#net_container{
    width: 80%;
    position: absolute;
    top: 15%;
    left: 10%
}

#net_sprite{
    width: 100%;
    height: 100%;
}

#game_ui {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows: 50px 50px;
gap: 10px;

}

#life_board, #score_board, #time_board{
background-color: #C8102E;
border: 1px solid #F6EB61;
color: #00B2A9;
opacity: 80%;
font-size: 18px;
text-align: center;
display: flex;
align-items: center;
justify-content: center;
font-family: "Pixel Takhisis";
}




#life_board > img{
    width: 4%;
    right: 2%;
}