body {
  margin: 0;
}

img {
  width: 100%;
}

#screen {
  display: grid;
  /* grid-template-columns: 100%;
  grid-template-rows: 100%; */
  grid-template: 100% / 100%;
  /* width: 100%; */
  outline: solid black;
  aspect-ratio: 16/9;
}

#game {
  grid-area: 1 / 1;
  /* overflow: hidden; */
  display: grid;
  grid-template: 100% / 100%;
  /* grid-template-columns: 10% / 10%;
  grid-template-rows: 100%; */
}

#game_background {
  grid-area: 1 / 1;
  background-image: url(billeder/soccer-players-action-professional-stadium.jpg);
  background-size: cover;
}

#game_elements {
  grid-area: 1 / 1;
  overflow: hidden;
  position: relative;
}


/* Game_over, Level_Complete */

#game_over {
    grid-area: 1 /1;
    z-index: 999;
    display: grid;
    justify-content: center;
    align-content: center;
    background-image: url(billeder/mikedean.jpg);
    color: rgb(10, 10, 10);
    background-size: 100%;
}
#game_over > h1 {
    font-size: 150px;
    text-shadow: 2px 2px 5px rgb(253, 3, 3);
}

#level_complete {
    grid-area: 1 /1;
    z-index: 999;
    display: grid;
    justify-content: center;
    align-content: center;
    background-image: linear-gradient(150deg, #20c903 0%, #09793b 100%);
    color: #ffffff;
}

/* Start screen */

#start {
    grid-area: 1 /1;
    z-index: 999;
    display: grid;
    justify-content: center;
    align-content: center;
    background-image: url(billeder/Start-Screen.png);
    background-size: 100%;
}

#start > h2 {
  font-size: 55px;
  z-index: 3;
/* align-content: center;
justify-content: center; */
text-align: center;
color: #00B2A9;
text-shadow: 2px 2px 5px #C8102E;
font-weight: bold;
}

#start > p {
  font-size: 20px;
  color: #F6EB61;
  text-shadow: 2px 2px 5px black;
}

.hidden,
#game_over.hidden,
#level_complete.hidden, #start.hidden {
    display: none;
}


/* spil elementer */

#joachim_container, #joachim2_container {
  width: 7%;
  position: absolute;
  /* top: 70%;
  left: 48%; */
  z-index: 3;
}

#joachim_sprite, #joachim2_sprite {
  width: 100%;
  height: 100%;
}

#ball1_container {
  width: 6%;
  position: absolute;
  /* top: 70%;
  left: 30%; */
  z-index: 2;
}

#ball1_sprite {
  width: 100%;
  height: 100%;
}


#ball2_container {
  width: 6%;
  position: absolute;
  /* top: 50%;
  left: 72%; */
  z-index: 2;
}

#ball2_sprite {
  width: 100%;
  height: 100%;
}

#ball3_sprite {
  width: 100%;
  height: 100%;
}

#ball3_container {
  width: 6%;
  position: absolute;
  /* top: 80%;
  left: 45%; */
  z-index: 2;
}


#gold_ball_container {
  width: 11%;
  position: absolute;
  /* top: 47%;
  left: 23%; */
  z-index: 2;
}
#gold_ball_sprite {
  width: 100%;
  height: 100%;
}

/* Placerings klasser */

.position1 {
  top: 70%;
  left: 48%;
}

.position2 {
  top: 70%;
  left: 30%;
}

.position3 {
  top: 50%;
  left: 72%;
}

.position4 {
  top: 80%;
  left: 45%;
}

.position5 {
  top: 47%;
  left: 23%;
}

.position6 {
  top: 72%;
  left: 72%;
}

.position7 {
  top: 75%;
  left: 35%;
}

.position8 {
  top: 50%;
  left: 48%;
}





/* Ikke brugbare elementer */
#darwin_container {
  width: 23%;
  position: absolute;
  top: 71.5%;
  right: -3%;
  z-index: 1;
}

#darwin_sprite {
  width: 100%;
  height: 100%;
}

#darwin_container2 {
  width: 23%;
  position: absolute;
  top: 71.5%;
  z-index: 1;
  transform: rotateY(180deg);
  left: -3%;
}

#darwin_sprite2 {
  width: 100%;
  height: 100%;
}

#net_container {
  width: 87%;
  position: absolute;
  top: 15%;
  left: 6.5%;
}

#net_sprite {
  width: 100%;
  height: 100%;
}




/* UI */
#game_ui {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-template-rows: 220px; */
  grid-template-rows: 150px;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 3%;
  left: 0%;
}

#life_board,
#score_board,
#time_board {
  font-size: 50px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Pixel Takhisis";
  color: #C8102E;
   text-shadow: 2px 2px 5px black;
}

#score_board > img{
    width: 25%;
    right: auto;
}

/* #time_board > img {
  width: 25%;
  right: auto;
} */

#life_board > img {
  width: 15%;
  right: auto;
}

/* Timer */

.timer {
  width: 35%;
  height: 100%;
  border-radius: 50%;
  background-image: url(billeder/22439-removebg-preview.png);
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: 100%;
  background-position: center;
}

.time-left {
  text-align: center;
}


/* Start Botton */
button {
    padding: 0.5em 1em;
    font-size: 2em;
    margin: auto;
    background-color: #ffad01;
    color: #fff4bf;
    border: 10px solid #ffc72e;
    cursor: pointer;
    border-radius: 10px;
}

.pulse {
    animation-name: pulse_kf;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    animation-direction: alternate;
}



