
body {
    margin: 0%;
}

h1 {
    font-size: 150px;
    text-shadow: 2px 2px 5px rgb(253, 3, 3);
}

#screen {
  display: grid;
  grid-template: 100% / 100%;
  width: 100%;
  outline: solid black;
  aspect-ratio: 16/9;
}

#game {
  grid-area: 1 / 1;
  display: grid;
  grid-template: 100% / 100%;
}


#game_over {
    grid-area: 1 /1;
    z-index: 999;
    display: grid;
    justify-content: center;
    align-content: center;
    background-image: url(billeder/mikedean.jpg);
    color: rgb(10, 10, 10);
    background-size: 100%;
}
